<hr class="span-20px">
<div class="ui main text container">
  <form class="ui large form segment">
    <h3 class="ui header">
      Thêm đường dẫn
    </h3>
    <div class="field">
      <label for="title">Tiêu Đề:</label>
      <input name="title" #newTitle>
    </div>
    <div class="field">
      <label for="link">Đường dẫn:</label>
      <input name="link" #newLink>
    </div>
    <div class="field">
      <button class="ui positive right button" (click)="addArticle(newTitle, newLink)">
        Đồng ý
      </button>
    </div>
  </form>
  <div class="ui grid posts">
    <app-article *ngFor="let article of sortedArticles()" [article]="article"></app-article>
  </div>
</div>